@charset "utf-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'YanoljaYacheR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#header {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}

.row {
    padding: 0 10px;
}

#footer {
    background-color: rgba(238, 238, 238, 255);
    width: 100%;
}

/*헤더 영역 */
.header {
    margin-top: 10px;
}


.header h1 img {
    width: 62px;
    cursor: pointer;
}

.header .logo {
    height: 58px;
    display: inline-block;
    margin: 3px 10px;
    overflow: hidden;
}

.header .logo strong {
    line-height: normal;
    font-size: 42px;
    color: #3381e8;
    font-family: "BMJUA";
    font-weight: normal;
}

.header .logo em {
    line-height: normal;
    display: block;
    font-size: 10px;
    color: #94b8f3;
    font-family: "Gungsuh", "궁서";
}
/*로그인 회원가입 버튼*/
.login{
    position: absolute;
    right:250px;
    bottom:8px;
}
.login a{
    margin-right: 10px;
    font-size:13px;
}
.login_after{
    position:absolute;
    right: 250px;
    bottom:8px;
    
}
.login_after li{
    display: inline;
    position: relative;
    padding-right: 5px;
    white-space: nowrap;
}
.login_session{
    display: none;
}

/*검색 시작*/
.search__input {
    width: 170px;
    height: 19px;
    border: 0;
    padding: 5px 0px;
    outline: 0;
    background-color: transparent;
    font-size: 14px;
    color: black;
}

.search__btn {
    height: 20px;
    width: 21px;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    outline: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
}

.search {
    overflow: hidden;
    position: absolute;
    bottom: 4px;
    right: 10px;
    width: 200px;
    height: 19px;
    padding: 5px 11px;
    background-color: #5b5b5b;
    transition: transform 250ms ease-in-out;
    line-height: 18px;
    color: #575756;
    background-color: #5b5b5b;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input:placeholder {
    color: color(white a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__btn:hover {
    cursor: pointer;
}

.search:hover,
.search:focus-within {
    padding: 5px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
    background-color: transparent;
    text-decoration-color: black;
}

/*검색 끝*/
/*카테고리 네비*/
/* The side navigation menu */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 250px;
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: -250px;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

#sidebar.active {
    left: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

/*카테고리 네비 끝*/
/*프로필*/
#profile{

}
.profile2{
    padding-top:20px;
    border-top:1px solid lightgray;
}
.profile {
    float: left;
    width: 49%;
    height: 293px;
    margin-right: 2%;
    margin-bottom: 20px;
    outline:1px solid lightgray;
    overflow: hidden;
    background-color:rgb(117,167,255);
    
}

.profile h1{
    margin-top:85px;
    padding-left:150px;
    font-size:70px;
    color:white;
    font-family: 'YanoljaYacheR';
    line-height: 1;
}
.profile h2{
    padding-left:160px;
    font-size:30px;
    color:white;
    font-family: 'YanoljaYacheR';
    letter-spacing: 3px;
    line-height: 1;
}
/*이미지*/
.photo1 {
    float: left;
    width: 49%;
}
.photo1 div,.photo2 div{width:100%;height: 100%;}
.photo1 .item {
    margin-right: 4%;
    float: left;
    width: 48%;
    margin-bottom: 20px;
    height:293px;
    overflow: hidden;
}

.photo1 .item:last-child {
    margin-right: 0px;
}



.photo2 .item {
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 23.5%;
    height:293px;
    overflow: hidden;
}

.photo2 .item:nth-child(4n) {
    margin-right: 0px;
}

/*상세보기*/

body.modal_on {
    overflow: hidden;
}
.modal .closebtn {
position: absolute;
top: -15px;
right: 2px;
margin-left: 25px;
font-size: 36px;
font-weight: bold;
cursor: pointer;
}
.modal {
width :1080px;
background-color: white;
position: fixed;
z-index: 1000;
padding: 1em;
border: 1px solid #000;
box-sizing: border-box;
}

.infor{
width:90%;
margin: 0 auto;
margin-top: 20px;
}
.img img{
height:auto;
width:100%;
max-height: 90%;
}
.img{
position: relative;
cursor: pointer;
}
.img .memo{
display: none;
position: absolute;
left: 47.7333%;
margin-top: 6px;
top: 54.4%;
transform: translate(-50%, 0%);
}
.img .memo_infor{
background:rgba(0,0,0,.85);
color: white;
border-radius:10px;
padding:10px;
}

.img .memo_infor:after{
border-top:0px solid transparent;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 10px solid rgba(0,0,0,.85);
content:"";
position:absolute;
top:-10px;
left:40%;
}
.item img{
cursor: pointer;
}
.img .name {
position: absolute;
bottom: 4px;
left: 0px;
height: 60px;
display: inline-block;
overflow: hidden;
background-color: rgb(165,148,140);
opacity: 0.8;
padding:0 10px;
}

.name strong {
line-height: normal;
font-size: 30px;
color: white;
font-family: "Malgun Gothic","맑은고딕";
font-weight: normal;
}
.infor .bottom{
overflow: hidden;
}
.name em {
line-height: normal;
display: block;
font-size: 15px;
color: white;
font-family: "doctum", "돋움";
}

.tag{
margin-top: 10px;
overflow:hidden;
height: 22px;
}
.tag img{
height:20px;
width: auto;
}
.tag .tag_infor{
vertical-align:top;
display: inline-block;
color:rgb(51,99,148);
font-family: "Dotum";
}
.infor_btn{
position: absolute;
bottom:5px;
right: 10px;
}
.btn{
margin-right: 5px;
padding:5px;
float:right;
margin-top: 5px;
    color:rgb(51,99,148);
font-family: "Dotum";
}
.btn:hover{
background-color: red;
border-radius: 12px;
color:black;
}
.btn em{
cursor: pointer;
}
/*푸터*/
.footer_infor {
    text-align: center;
}

.footer_infor ul {
    padding: 15px 0;
}

.footer_infor li {
    position: relative;
    display: inline;
    padding-right: 16px;
    white-space: nowrap;
}

.footer_infor li:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1px;
    height: 11px;
    background: black;
}

.footer_infor li:last-child:after {
    width: 0;
    height: 0;
}

/*반응형 디자인*/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 1290px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 1280px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
