<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"> <!-- 모니터 크기에 따른 웹페이지의 크기-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- edge 표준모드-->
    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]> 
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
         alert("현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!");
      </script>
   <![endif]-->
    <title>옷좀골라줄래</title>
    <!-- 스타일 시트-->
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/viewer.min.css">
   
    
    
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--bootstrap-->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    


</head>

<body>
    <div id='vue'></div>
    <div class="overlay">

    </div>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <span id="sidebarCollapse">
                            <img src="assets/img/btn_category.png" alt="카테고리">
                        </span>
                        <em class="logo">
                            <a href='../../../'>
                                <strong>옷 좀 골라줄래?</strong>
                                <em>
                                    Can you pick some clothes?
                                </em>

                            </a>
                        </em>
                    </h1>
                    <div class="login" id="login">
                        <a href="../../../login/">로그인</a>
                        <a href="../../../signup">회원가입</a>
                    </div>
                    <div class="login_after login_session" id="login_session">
                        <ul>
                            <li id='hellonick'>?? 환영합니다</li>
                            <li><a href="../../../modify/">정보수정</a></li>
                            <li><a href="#" onclick="logout()">로그아웃</a></li>
                        </ul>
                    </div>
                    <div class="search" id="sc">
                        <input class="search__input" type="text" placeholder="Search">
                        <input class="search__btn" type="button">
                    </div>
                </div>
            </div>
        </div>
          <div id="sidebar" class="sidenav">
            <a class="closebtn">&times;</a>
            <a href="../../../coordi/">코디 Photo</a>
            <a href="../../../worldcup/">이상형 월드컵</a>
            <a href="../../../recommend/">코디 추천</a>
            <div class="login_session" id='logprofile'><a id="href_profile">프로필</a></div>
            <a href="#">Contact</a>
        </div>
    </header>
    <section id="banner1">
        <div class="container">
            <div class="row">
                <img src="assets/img/banner.png">
            </div>
        </div>
    </section>
    <section id="coordi">
        <div class="container">
            <div class="row">
                <div class="sub_title">
                    <h1>추천 코디 > 아이템별 > 상의</h1>
                </div>
                <div class="array">

                </div>  
                <div id="input_category">                    
                    <label>카테고리</label>
                    <select class="select" v-model="category">
                        <option>반팔셔츠</option>
                        <option>긴팔셔츠</option>
                        <option>민소매셔츠</option>
                        <option>셔츠/블라우스</option>
                        <option>피케/카라티셔츠</option>
                        <option>맨투맨/스웨트셔츠</option>
                        <option>후드</option>
                        <option>니트/스웨터/가디건</option>
                        <option>베스트</option>
                        <option>기타</option>
                    </select>
                    <br />
                    <br />

                    <label>색깔&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <select class="select" v-model="color">
                        <option>white</option>
                        <option>red</option>
                        <option>orange</option>
                        <option>yellow</option>
                        <option>green</option>
                        <option>blue</option>
                        <option>purple</option>
                        <option>black</option>
                        <option>violet</option>
                        <option>brown</option>
                        <option>azure</option>
                        <option>coral</option>
                        <option>gray</option>
                        <option>gold</option>
                        <option>ivory</option>
                        <option>khaki</option>
                        <option>lime</option>
                        <option>navy</option>
                        <option>pink</option>
                        <option>silver</option>
                        <option>etc</option>
                    </select>
                    <br />
                    <br />

                    <button id="submit" v-on:click="submit"> 선택 </button>
                </div>

                  <br> <br> <br />
                <div class="photo-5">
                   
                </div>
            </div>
        </div>
    </section>


    <footer id="footer">
        <div id="footer_infor">
            <div class="container">
                <div class="row">
                    <div class="footer_infor">
                        <ul>
                            <li><a href="#">홈페이지 이용약관</a></li>
                            <li><a href="#">개인정보 취급방침</a></li>
                            <li><a href="#">게시물 게재일칙</a></li>
                        </ul>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 자바스크립트 라이브러리 -->
    <script src="assets/js/jquery.min_1.12.4.js"></script>
    <script src="assets/js/modernizr-custom.js"></script>
    <script src="assets/js/ie-checker.js"></script>
    <script src="assets/js/viewer.min.js"></script>
    <!-- bootstrap-->

    <!-- 자바스크립트 코드-->

    <script>
        /*네비게이션 */
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
        });

        $('.overlay').on('click', function() {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
            $('body').css("overflow","auto")
            $('#modal').hide();
        });

        $('.closebtn').on('click', function() {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();

        });
        /*상세보기 */
            $('.item img').on('click', function() {
            $('body').css("overflow","hidden");
            $('.img img').attr('src',$(this).attr('src'));
            $('#modal').show();
            $('.overlay').show();
        });
            $('#modal .closebtn').on('click', function() {
            $('.overlay').fadeOut();
            $('body').css("overflow","auto")
            $('#modal').hide();
        });



function logout() {

    if(confirm('로그아웃 하시겠습니까?')) {

        let xhr = new XMLHttpRequest();

        xhr.open('POST', 'http://pickclothes.iptime.org/node/login/logout');
        xhr.send();
        xhr.addEventListener('load', function() {
                    console.log(xhr.response);
        });


        let login = document.getElementById('login');
        login.style.display = 'block';

        let login_session = document.getElementById('login_session');
        login_session.style.display = 'none';

        let profile = document.getElementById('logprofile');
        profile.style.display = 'none';

        window.location.reload()              
    }  
}




//safari 브라우저 문제 해결..

window.onpageshow = function(event) {
    if(event.persisted == true) {
        window.location.reload()
    } else {}
}




 //Vue JS

//불러올때
let load = new Vue({
    el: "#vue",
    mounted : function() {
        this.onload();

    },
    data : {


    },
    methods : {
        onload : function() {
                axios.post('http://pickclothes.iptime.org/node/login/check').then(response => {
                    console.log(response.data);
                    if(response.data.nick_name != undefined) {
                        document.getElementById('hellonick').innerText = response.data.nick_name + ' 님 환영합니다'

                        let login = document.getElementById('login');
                        login.style.display = 'none';

                        let login_session = document.getElementById('login_session');
                        login_session.style.display = 'block';

                        let profile = document.getElementById('logprofile');
                        profile.style.display = 'block';

                        $('#href_profile').attr('href', '../../../profile/?id=' + response.data.user_id);

                    }
                });
        },
    }
});


let input_category = new Vue({
    el: '#input_category',
    data : {
        category : '반팔셔츠',
        color : 'black'
    },
    methods : {
        submit : function() {
            console.log(this.category + " " + this.color);
            let href = "./choice/?item=" + encodeURI(encodeURIComponent(this.category)) + "&color=" + this.color;
            location.href= href;
        },
    }
});

    </script>
</body>

</html>
