@charset "utf-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}


#header {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}
clearfix
.row {
    padding: 0 10px;
}

#footer {
    background-color: rgba(238, 238, 238, 255);
    width:100%;
}

/*헤더 영역 */
.header {
    margin-top: 10px;
}


.header h1 img {
    width: 62px;
    cursor:pointer;
}

.header .logo {
    height: 58px;
    display: inline-block;
    margin: 3px 10px;
    overflow: hidden;
}

.header .logo strong {
    line-height: normal;
    font-size: 42px;
    color: #3381e8;
    font-family: "BMJUA";
    font-weight: normal;
}

.header .logo em {
    line-height: normal;
    display: block;
    font-size: 10px;
    color: #94b8f3;
    font-family: "Gungsuh", "궁서";
}
/*로그인 회원가입 버튼*/
.login{
    position: absolute;
    right:250px;
    bottom:8px;
}
.login a{
    margin-right: 10px;
    font-size:13px;
}
.login_after{
    position:absolute;
    right: 250px;
    bottom:8px;
    
}
.login_after li{
    display: inline;
    position: relative;
    padding-right: 5px;
    white-space: nowrap;
}
.login_session{
    display: none;
}
/*검색 시작*/
.search__input {
    width: 170px;
    height: 19px;
    border: 0;
    padding: 5px 0px;
    outline: 0;
    background-color: transparent;
    font-size: 14px;
    color: black;
}

.search__btn {
    height: 20px;
    width: 21px;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    outline: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
}

.search {
    overflow: hidden;
    position:absolute;
    bottom:4px;
    right:10px;
    width: 200px;
    height: 19px;
    padding: 5px 11px;
    background-color: #5b5b5b;
    transition: transform 250ms ease-in-out;
    line-height: 18px;
    color: #575756;
    background-color: #5b5b5b;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input:placeholder {
    color: color(white a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__btn:hover {
    cursor: pointer;
}

.search:hover,
.search:focus-within {
    padding: 5px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
    background-color: transparent;
    text-decoration-color: black;
}

/*검색 끝*/
/*카테고리 네비*/
/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 250px;
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: -250px;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

#sidebar.active {
    left: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    top: 0;
    left: 0;
    display: none;
}

/*카테고리 네비 끝*/


/*카테고리*/
.sub_title{
    margin-top:25px;

    border-bottom:1px solid rgb(203,206,219);
    position: relative;
}
.sub_title h1{
    font-size: 30px;
    color: #11368c;
    font-family: "MalgunGothic";
    font-weight: bold;
}
.sub_title em{
    position: absolute;
    float:right;
    right:10px;
    margin-top: -20px;
    font-size: 13px;
    color: #121618;
    font-family: "Dotum";
    vertical-align:bottom;
 
}

.array{
    text-align: right;
    margin-top:6px;
    margin-bottom: 15px;
}
.array li{
    position: relative;
    display: inline;
    padding-right: 16px;
    white-space: nowrap;

    
}
.array li:last-child{
    padding: 0px;
}
.array li:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 2px;
    width: 0.5px;
    height: 13px;
    background: black;
}
.array li:last-child:after{
    width: 0;
    height: 0;
}

/*푸터*/
.footer_infor {
    text-align: center;
}

.footer_infor ul {
    padding: 15px 0;
}

.footer_infor li {
    position: relative;
    display: inline;
    padding-right: 16px;
    white-space: nowrap;
}

.footer_infor li:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1px;
    height: 11px;
    background: black;
}

.footer_infor li:last-child:after {
    width: 0;
    height: 0;
}

/* 미니배너 */
#banner1 img{
    height:140px;

}


/*이미지5 */
.photo-5 {
    overflow: hidden;
}
.photo-5 figure{
    float:left;
    margin-right:2.1%;
    margin-bottom: 30px;
    width:18%;
    height:230px;
}
.photo-5 figure:last-child{margin-right: 0px;}

/*카테고리*/
#input_category {
    margin : 0 auto;
    text-align: center;
    width : 80%;
    padding-left : 5%;
}

.select {
    margin : 0 auto;
    text-align : center;
    width: 30%;
    padding: 14px 18px;
    border: solid gray 1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
  }

#submit {
    background-color: #3381e8;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: white; /* Green */
    color: black;
    border : 1px solid #3381e8
  }



/*반응형 디자인*/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 1290px) {
    .container {
        width: 100%;
    }
}

/*
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
*/

@media (max-width: 1275px) {
    #banner1 img {
        max-height: 20vw;
    }

    .row {
        padding: 0 2vw;
    }

    .photo-5 figure{
        margin-right: 1.2vw;
        width: 22vw;
        height: 30vw;
        overflow: hidden;
    }
    .photo-5 figure:nth-child(4n) {
        margin-right: 0px;
    }
    
}


@media (max-width: 1150px) {

   

    .photo-5 figure{
        margin-right: 1.5vw;
        width: 30vw;
        height: 40vw;
        overflow: hidden;
    }

    .photo-5 figure:nth-child(4n) {
        margin-right: 1.5vw
    }
    .photo-5 figure:nth-child(3n) {
        margin-right: 0px;
    }

   
}



@media (max-width: 768px) {
    .select {
        width: 80%;

      }
      /* 로그인 */
      .login {
        position: absolute;
        right : 5px;
        bottom: 50px;
        display: block;
    }

    .login a {
        margin-right: 5px;
        font-size: 10px;
    }

    .login_after {
        position: absolute;
        right: 5px;
        bottom: 50px;

    }
        
    .login_after a {
        margin-right: 5px;
        font-size: 9px;
    }

    #hellonick {
        display: none;
    }
    
   /*네비게이션*/
    

    .sidenav a {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #sidebar.active {
        height: 100%;
        width: 100%;

    }

    .photo-5 figure{
        margin-right: 1.8vw;
        width: 45.3vw;
        height: 55vw;
        overflow: hidden;
    }
    .photo-5 figure:nth-child(3n) {
        margin-right: 2vw;
    }
    .photo-5 figure:nth-child(2n) {
        margin-right: 0px;
    }

   
}
    @media (max-width: 600px) {
        /* 로그인 */
    .login {
        position: absolute;
        right : 1px;
        bottom: 8px;
        display: block;
    }

    .login a {
        margin-right: 5px;
        font-size: 10px;
    }

    .login_after {
        position: absolute;
        right: 1px;
        bottom: 5px;

    }
        
    .login_after a {
        margin-right: 5px;
        font-size: 9px;
    }

    #hellonick {
        display: none;
    }

    .login_after li {
        display: inline;
        position: relative;
        padding-right: 0px;
        white-space: nowrap;
    }

       .header h1 img {

            width: 47px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .header .logo {
            height: 44px;
            left: 50%;
            top: 0px;
            position: absolute;
            transform: translate(-50%, 0)
        }

        .header .logo strong {
            font-size: 37px;
        }

        .header .logo em {
            display: none;
        }

        .search {
            display: none;
        }
    }


    @media (max-width: 480px) {
        .header h1 img {

            width: 35px;
        }

        .header .logo {
            height: 29px;
        }

        .header .logo strong {
            font-size: 27px;
        }
        .sub_title h1{
            font-size:25px;
        }
        .sub_title em{
            font-size:10px
        }

        @media (max-width: 320px) {
            
            .photo-5 figure{
                width: 80vw;
                height: 60vw;
                overflow: hidden;
            }
            
            .header .logo {
                height: 25px;
            }

            .header .logo strong {
                line-height: normal;
                font-size: 20px;
                color: #3381e8;
                font-family: "BMJUA";
                font-weight: normal;
            }
        }
    }